div{ 
    width: 100px;
    height: 100px;
    background-color: pink;
}

div:hover{ 
    background-color: black;
    transform: translate(40,10);
}

input:focus{
    background-color: aqua;
}

p::before{ 
    content:"before";
    background-color: red;
}

p::after{
     content: "something";
     background-color: white;
}

p::first-letter{ 
    font-size: 40px;
}
p::first-line{ 
    text-decoration: underline;
}


ul li::marker{
    color:red;
}

p::selection{ 
    background-color: purple;
}